<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Курсы валют</title>
    <script>

        function send_data(link) {
            let extensions = {
                'get_csv': 'csv',
                'get_xls': 'xlsx',
                'get_pdf': 'pdf'
            }
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/" + link, true)
            let data = {"data" : localStorage.getItem('data')}

            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            xhr.responseType = 'blob';
            let ext = extensions[link];
            xhr.onload = function() {
                // Only handle status code 200
                if (xhr.status === 200) {
                    // Try to find out the filename from the content disposition `filename` value
                    let disposition = xhr.getResponseHeader('content-disposition');
                    let matches = /"([^"]*)"/.exec(disposition);
                    let filename = (matches != null && matches[1] ? matches[1] : 'currencies.' + ext);
                    // The actual download
                    let blob = new Blob([xhr.response], {type: 'application/pdf'});
                    let link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = filename;

                    document.body.appendChild(link);

                    link.click();

                    document.body.removeChild(link);
                }
            }
            xhr.send(JSON.stringify(data))
        }

        function add(){
            slct = document.createElement('div')
            slct.innerHTML = `<select class="currency">
        <option value='Ethereum'>Ethereum</option>
        <option value='Bitcoin'>Bitcoin</option>
        <option value='Litecoin'>Litecoin</option>
        <option value='Prizm'>Prizm</option>
        <option value='Tron'>Tron</option>
        <option value='Binance coin'>Binance coin</option>
        <option value='Decimal'>Decimal</option>
       </select>`
            btn = document.getElementById("addButton")
            list = document.getElementById("curList")
            list.insertBefore(slct, btn)
        }

        function send() {
            let xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    data = JSON.parse(xhr.response);
                    document.getElementById("inputForm").hidden = true;
                    tableCreate(data);
                    localStorage.setItem('data', xhr.response)
                }
            }
            xhr.open("POST", "/result")
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            let data = {
                currencies : []
            }
            cur_list = document.getElementsByClassName("currency")

            for(let i = 0; i < cur_list.length; i++) {
                cur = cur_list[i]
                data.currencies.push(cur.children[cur.selectedIndex].value)
            }
            xhr.send(JSON.stringify(data))
        }

        function tableCreate(data) {
            rslt = document.getElementById("result");
            table = document.createElement('table');
            tr = table.createTHead();
            th1 = document.createElement('th');
            th1.innerText = "Код валюты";
            th2 = document.createElement('th');
            th2.innerText = "Название валюты";
            th3 = document.createElement('th');
            th3.innerText = "Цена";
            th4 = document.createElement('th');
            th4.innerText = "Дата котировки";
            th5 = document.createElement('th');
            th5.innerText = "Номинал";
            tr.appendChild(th1);
            tr.appendChild(th2);
            tr.appendChild(th3);
            tr.appendChild(th4);
            tr.appendChild(th5);
            for (let i = 0; i < data.length; i++) {
                const tr = table.insertRow();
                tr.insertCell().innerText = data[i]['code']
                tr.insertCell().innerText = data[i]['name']
                tr.insertCell().innerText = data[i]['price']
                tr.insertCell().innerText = data[i]['time']
                tr.insertCell().innerText = data[i]['nominal']
              }
            get_csv = document.createElement('button')
            get_csv.onclick = function () {send_data('get_csv')};
            get_csv.innerText = 'Save as csv'
            get_xls = document.createElement('button')
            get_xls.onclick = function () {send_data('get_xls')};
            get_xls.innerText = 'Save as xls'
            get_pdf = document.createElement('button')
            const buttonList = [ get_pdf, get_csv, get_xls ];
            buttonList.forEach(btn => {
                btn.classList.add('btn', 'ml-2');
            });
            get_pdf.onclick = function () {send_data('get_pdf')};
            get_pdf.innerText = 'Save as pdf'
            rslt.appendChild(table)
            rslt.appendChild(get_csv)
            rslt.appendChild(get_xls)
            rslt.appendChild(get_pdf)
        }
    </script>
</head>
<body>
<div id="inputForm">
    <div id="curList">
        <div>
        <select class="currency form-select">
        <option value='Ethereum'>Ethereum</option>
        <option value='Bitcoin'>Bitcoin</option>
        <option value='Litecoin'>Litecoin</option>
        <option value='Prizm'>Prizm</option>
        <option value='Tron'>Tron</option>
        <option value='Binance coin'>Binance coin</option>
        <option value='Decimal'>Decimal</option>
       </select>
        </div>
        <button onclick="add()" id="addButton" class="btn btn-default">
            +
        </button>
    </div>
    <button onclick="send()" class="btn btn-primary">
        Получить котировку
    </button>
</div>
<div id="result">
</div>
</body>
</html>